# 🤹‍♀️ Silksong Saver Configuration


# Your Steam User ID (find it at: https://steamcommunity.com/my/friends/add as "Your Friend Code")
STEAM_ID="YOUR_STEAM_USER_ID_HERE"


# 📁 Backup strategy - Option A: Store backups inside the game's save folder (recommended if you want your backups to be synced with Steam Cloud)
# This is the default configuration (no changes needed) - your backups will be stored in a folder named 'Save Backups' inside the game's save folder.

# To customize the backup folder names within the game's save folder, edit the values below:
RELATIVE_BACKUP_FOLDER="Save Backups"    # Main backup folder name within the game's save folder
RELATIVE_BACKUP_SUBFOLDER=""             # Optional subfolder (leave empty for none)


# 📁 Backup strategy - Option B: Store backups inside a custom folder
# e.g. C:\Users\YourUserName\Dropbox\Silksong Save Backups

# Leave it empty to disable this option, or edit the line below with an appropriate absolute path
BACKUP_FOLDER=""


# 📡 Server Port
PORT=3000